@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Cinzel', serif; */
body {
  font-family: "Inter", sans-serif;
}

/* dashboard custom style */
.drawer-side a.active {
  color: white;
}
.drawer-side a {
  background-color: transparent;
}
